<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock Paper Scissors</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

    <section class="top">
        <header>
            <a href="/">
                <img src="images/logo.svg" alt="logo image">
            </a>
        </header>

        <h1>ROCK PAPER SCISSORS</h1>

        <p><span>RPS is a peer to peer iOS game.</span>
            Designed to get friends in touch by playing the famous hand game .</p>

    </section>
        
    <section class="down">

        <div class="iphone">
            <img src="images/iphone.svg" alt="phone app">
        </div>
        

        <div class="features">
            <h2>Most Loved Features</h2>
            <ul>
                <li>No sign up needed</li>
                <li>Discover people around you</li>
                <li>Play RPS</li>
                <li>Group Chat</li>
            </ul>


            <a href="https://itunes.apple.com/app/id1496582068">
                <img src="images/appstore.svg" alt="appstore" >
            </a>
            
            <a href="https://www.producthunt.com/posts/rock-paper-scissors-rops?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-rock-paper-scissors-rops" target="_blank">
                <img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=186194&theme=light" alt="Rock Paper Scissors - ROPS - Peer to Peer game | Product Hunt Embed" style="width: 250px; height: 54px;" width="250px" height="54px" />
            </a>

            <p>Free Download. No Sign Up Required</p>

        </div>

    </section>
    
    <section class="instructions">

        <h2>How does it work?</h2>

        <h4>You have two options to connect and play with your friends.</h4>
        
        <ul class= "notifications">
            <h5>1 - Sending Notifications</h5>
            <li>Select Discover Friends Around You</li>
            <li>Send an invite to a friend</li>
            <li>Wait your friend to send you his/her acceptance</li>
            <li>Accept then Play</li>
        </ul>
       
        <ul class="manual">
            <h5>2 - Manual Selection</h5>
            <li>Open Board</li>
            <li>Select your friend as opponent</li>
            <li>Ask your friend to select you as opponent</li>
            <li>Start Play</li>
        </ul>

    </section>

    <div class="privacy">
        <h5><a href="/privacy">Privacy Policy</a></h5>
        <h6>@2020</h6>
    </div>
    
</body>
</html>
