<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock Paper Scissors</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

    <section class="top">
        <header>
            <a href="/">
                <img src="images/logo.svg" alt="logo image">
            </a>
        </header>

        <h1>ROCK PAPER SCISSORS</h1>

        <p><span>RPS is a peer to peer iOS game.</span>
            Designed to get friends in touch by playing the famous hand game .</p>

    </section>
        
    <section class="down">

        <div class="iphone">
            <img src="images/iphone.svg" alt="phone app">
        </div>
        

        <div class="features">
            <h2>Most Loved Features</h2>
            <ul>
                <li>No sign up needed</li>
                <li>Discover people around you</li>
                <li>Group Chat</li>
            </ul>


            <a href="https://itunes.apple.com/app/id1496582068">
                <img src="images/appstore.svg" alt="appstore" >
            </a>
            

            <p>Free Download. No Sign Up Required</p>

        </div>

    </section>

    <div class="privacy">
        <h5><a href="/privacy">Privacy Policy</a></h5>
        <h6>@2020</h6>
    </div>
    
</body>
</html>
